.dummy{
	color : black;
}

.txt{
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	margin-top: 10px;
}
.checkbtn{
	display: flex;
	/* align-items: center; */
	justify-content: center;
	margin-top: 20px;
}